<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>채팅 시작</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <div>
            <h1>채팅 시작하기</h1>
            <p>사번을 입력하고 시작하세요</p>
            <form action="/" method="post">
                <div>
                    <label for="empNo">사번</label>
                    <input id="empNo" name="empNo" required placeholder="사번을 입력하세요">
                </div>
                <div>
                    <button type="submit">시작하기</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html> 